.header {
    z-index: 1000;
}
.nav__container-items {
    overflow: hidden;
}
.nav__links {
    gap: 15px;
    margin: 0;
}
.nav__link {
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav__link::after {
    clip-path: var(--clippy);
	transition: clip-path 0.4s;
}
.nav__link:hover {
	--clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.receta__container-imagen {
    height: 440px;
}
