.header {
    background: transparent;
    
}
.nav__container-items {
    background: #000;
    width: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}
.nav__container-items:hover {
    box-shadow: 0 2px 2px rgba(204, 136, 0.2);
}

/* desarmar el menu hamburger */
.nav {
    --state-hamburger: scale(0);
    --state-menu: translate(0);
    padding: 0;
}

.nav:target {
    --state-close: scale(0);
}
.nav:hover {
    box-shadow: unset;
}
.container__logo {
    position: fixed;
    top: 22px;
    left: 0;
    width: 120px;
    height: auto;
    border-radius: 0 0 0 20px;
    background-color: #000;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}
.container__logo:hover {
	box-shadow: 0 0 0 rgba(204, 136, 0.2);
}

.nav__links {
    background-color: unset;
    position: unset;
    transform: unset;
    grid-auto-flow: column;
    grid-column: 2/3;
    grid-row: 1/2;
    gap: 20px;
    width: 100%;
    margin: 0 0 0 80px;
}

.receta__img,
.utencilios__img {
	width: 50px;
	margin: 15px 6px 0 0;
}

.tiempo__img,
.ingredientes__img,
.instruciones__img {
	width: 40px;
	margin: 15px 6px 0 0;
}
.nav__link {
    font-size: 2rem;
    scroll-snap-align: center;
    margin: 20px 0 0 0;
}
.animation__writing {
    padding: 0;
}
.animation__description {
    color: transparent;
}
.animation__writing span::before {
    content: none;
    color: transparent;
    animation: none;
}
.animation__writing span::after {
    content: none;
    animation: none;
}
.receta__container-imagen {
    height: 380px;
}
.tiempo {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.utencilios span {
	transform: rotateY(calc(var(--i) * calc(360deg / 7))) translateZ(300px);
}
.footer__links {
    gap: 100px;
}
